@import '../../App.variables.scss';

.chat {
  flex: 1;
}

.chat-list {
  width: 100%;
  height: 100%;
  flex: 1;
  background: white;
  overflow-y: auto;
  padding: 10px;
  background: #e7eef0;
}

.chat-btn {
  padding: 10px 15px;
}

.nav-bar {
  flex: 0 0 25vw;
  padding: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.message {
  margin: 15px 0;
  width: fit-content;
  div {
    color: #000;
    opacity: 0.8;
    padding: 4px 8px;
    border-radius: 8px;
  }
  &.received {
    margin-left: 10px;
    div {
      background: white;
    }
  }
  &.sent {
    margin-left: auto;
    div {
      background: lightblue;
    }
  }
}

.send-message-form {
  background: $send-message-form;
  display: flex;
  box-sizing: border-box;
  height: 60px;
}

.send-message-form input {
  width: 100%;
  padding: 15px 10px;
  border: none;
  background: $send-message-form;
}

.send-message-form input:focus {
  outline-width: 0;
}

.send-message-form input::placeholder {
  color: black;
  opacity: 0.8;
}
