.header {
  color: white;
  background: lightblue;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
}

.header-btn {
  font-size: 16px;
  text-transform: uppercase;
  padding: 5px;
  background: none;
  border: none;
  transition: .3s;
}

.header-btn:hover {
  color: #7692c7;
}
